:root {
    --accent-color: #f98621;
    --white-color: #fff;
}

body {
    margin: 0;
    font-family: "Nunito", serif;
    background-image: url("assets\background.jpg");
    background-size: contain;
}

.search__input::placeholder {
    color: var(--accent-color);
    background: url(".\assets\searchicon.svg") no-repeat 1px center;
    text-indent: 25px;
    background-size: 16px 16px;
}

.container {
    padding: 0 96px;
    padding-top: 40px;
}
.glass {
    background: rgba(255, 255, 255, 0.575);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    transition-duration: 0.2s;
}

.button {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    height: 30px;
    border-radius: 15px;
    background-color: var(--white-color);
    cursor: pointer;
    padding-inline: 15px;
    white-space: nowrap;
}
.button:hover {
    background-color: var(--accent-color);
    color: var(--white-color);
    transition-duration: 0.2s;
}
.button:disabled {
    border: 1px solid grey;
    color: grey;
    height: 30px;
    border-radius: 15px;
    background-color: var(--white-color);
    cursor: pointer;
    padding-inline: 15px;
    white-space: nowrap;
}

.popup__header {
    text-align: center;
}
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.popup-wrapper {
    background-color: var(--white-color);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-width: 300px;
    align-items: stretch;
}
.input {
    padding: 15px;
    border: 1px solid;
    border-radius: 8px;
    font-size: 14px;
    height: 30px;
}
.input:focus {
    border-color: var(--accent-color);
    transition-duration: 0.2s;
}
.input:hover {
    border-color: var(--accent-color);
    transition-duration: 0.2s;
}

/* ------- Нормализация ------- 
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
    box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
    padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
    margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

:where(fieldset[class]) {
    margin-left: 0;
    padding: 0;
    border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
    list-style: none;
}

:where(address[class]) {
    font-style: normal;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
    --paragraphMarginBottom: 24px;

    margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
    margin-bottom: var(--paragraphMarginBottom);
}

/**
   Упрощаем работу с изображениями и видео
  */
img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
    font: inherit;
}

html {
    /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
    height: 100%;
    /**
     Убираем скачок интерфейса по горизонтали
     при появлении / исчезновении скроллбара
    */
    scrollbar-gutter: stable;
}

/**
   Плавный скролл
  */
html,
:has(:target) {
    scroll-behavior: smooth;
}

body {
    /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
    min-height: 100%;
    /**
     Унифицированный интерлиньяж
    */
    line-height: 1.5;
}

/**
   Нормализация высоты элемента ссылки при его инспектировании в DevTools
  */
a:where([class]) {
    display: inline-flex;
}

/**
   Курсор-рука при наведении на элемент
  */
button,
label {
    cursor: pointer;
}

/**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут fill со значением 'none' или начинается с 'url')
  */
:where([fill]:not([fill="none"], [fill^="url"])) {
    fill: currentColor;
}

/**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут stroke со значением 'none')
  */
:where([stroke]:not([stroke="none"], [stroke^="url"])) {
    stroke: currentColor;
}

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
    transition-property: fill, stroke;
}

/**
   Приведение рамок таблиц в классический 'collapse' вид
  */
:where(table) {
    border-collapse: collapse;
    border-color: currentColor;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
