body {
	background: linear-gradient(90deg, #a7a1db, #e9e6f8, #a7a1db);
	background-size: 200% 100%;
	animation: shine 5s infinite;
	margin: 0;
	font-family: 'Nunito', serif;
	padding: 0 96px;
}

@keyframes shine {
	to { background-position: 200% 0;}
}